<div *ngIf="recipe else noItem">
  <div class="row">
    <img [src]="recipe.imagePath" [alt]="recipe.name" width="200px">
  </div>
  <div class="row">
    <h5>{{ recipe.name }}</h5>
  </div>
  <div class="row">
    <div class="col-12">
      <span><b>Manager recipe: </b></span>
      <a style="cursor: pointer;" class="text-primary" (click)="addToShoppingList()">Shopping list</a>
      | <a [routerLink]="['edit']">Edit</a>
      | <a href="#">Delete</a>
    </div>
  </div>
  <p>Description: {{ recipe.description }}</p>
  <div class="">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} <span class="badge badge-pill badge-primary"> {{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
  <button appDropdown class="btn btn-secondary">Show</button>
  <p>recipe-detail works!</p>
</div>
<div class="row">
  <ng-template #noItem>No recipe selected</ng-template>
</div>
