<div *ngIf="recipe else noItem">
  <div class="row">
    <img [src]="recipe.imagePath" [alt]="recipe.name" width="200px">
  </div>
  <div class="row">
    <h5>{{ recipe.name }}</h5>
  </div>
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manager recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Shopping list</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
  <p>Description: {{ recipe.description }}</p>
  <p>Ingredients</p>
  <button appDropdown class="btn btn-secondary">Show</button>
  <p>recipe-detail works!</p>
</div>
<div class="row">
  <ng-template #noItem>No recipe selected</ng-template>
</div>