<div class="row">
  <div class="col-12">
    <div class="">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" #inputIngredientName>
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" #inputIngredientAmout>
      </div>
      <button class="btn btn-success" (click)="onSubmit()">Submit</button>
      <button class="btn btn-danger ml-1 mr-1">Delete</button>
      <button class="btn btn-primary">Clear</button>
    </div>
  </div>
</div>
